html, body {
  height: 100%
}
body {
  display: flex;
  align-items: stretch;
  font-family: Arial, sans-serif;
  margin-left: 0%;
  margin-right: 0%;     
  background-color: #f4f4f4;
}

#root {
  width: 100%;
}

input[type="file"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 0.5rem;
    text-align: left;
  }

  .topbanner {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;     
    padding-top: 20px;
    padding-bottom: 3px;
    border: none;
    background-color: #a0a0a0;
  }
  
  .topbanner table {
    border: none;
    margin: 0 auto;
  }
  .topbanner tr {
    background-color: #a0a0a0;
    border: 1px;
    border-color: green;
    margin: 0 px;
  }
  .topbanner th {
    color: #1cda4f;
    border: 2px;
    border-color: green;
    margin: 0 px;
  }

  .topbanner button {
    align-self: center;
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #f0f0f5;
    border: 2px #1cda4f;
    border-radius: 2px;
    border-width: thin;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
  }

  .topbanner button:hover {
    align-self: center;
    padding: 10px 20px;
    background-color: #dad6d6;
    color: rgb(92, 92, 93);
    border: none;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
  }

  .inner-body {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
  }
  .topbanner form {
    background: #a0a0a0;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}

.container {
    width: 80%;
}html, body {
  height: 100%
}
body {
  display: flex;
  align-items: stretch;
  font-family: Arial, sans-serif;
  margin-left: 0%;
  margin-right: 0%;     
  background-color: #f4f4f4;
}

#root {
  width: 100%;
}

/*body {
    font-family: Arial, sans-serif;
    margin-left: 0%;
    margin-right: 0%;     
    background-color: #f4f4f4;
}*/

input[type="file"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 0.5rem;
    text-align: left;
  }

  .topbanner {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;     
    padding-top: 20px;
    padding-bottom: 3px;
    border: none;
    background-color: #a0a0a0;
  }
  
  .topbanner table {
    border: none;
    margin: 0 auto;
  }
  .topbanner tr {
    background-color: #a0a0a0;
    border: 1px;
    border-color: green;
    margin: 0 px;
  }
  .topbanner th {
    color: #1cda4f;
    border: 2px;
    border-color: green;
    margin: 0 px;
  }

  .topbanner button {
    align-self: center;
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #f0f0f5;
    border: 2px #1cda4f;
    border-radius: 2px;
    border-width: thin;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    /*width: 20%; */
  }

  .topbanner button:hover {
    align-self: center;
    padding: 10px 20px;
    background-color: #dad6d6;
    color: rgb(92, 92, 93);
    border: none;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    /*height: 30px;*/
    /*width: 20%; */
  }

  .inner-body {
    font-family: Arial, sans-serif;
    margin-left: auto; /*5%;*/
    margin-right: auto; /*5%;*/
    margin-top: 10px;
    width: 80%;
    /*background-color: #d10a96;*/
  }
  .topbanner form {
    background: #a0a0a0;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none; /*0px 0px rgba(0, 0, 0, 0.1);*/
  }

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.likeaform {
    flex: 1;
    max-width: 400px;
    padding: 20px;
}

.likeaform label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.likeaform input {
    flex: 2;
    padding: 5px;
    font-size: 14px;
}

.myform {
    background: #f4f4f4;
    padding: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none; /*0 0 10px rgba(0, 0, 0, 0.1);*/
}

.myform-white {
    background: #ffffff;
    padding: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none; /*0 0 10px rgba(0, 0, 0, 0.1);*/
}

.mylink {
    background: #f4f4f4;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none; /*0 0 10px rgba(0, 0, 0, 0.1);*/
}

.mylink button {
        background: #f4f4f4; /*background: none!important;*/
        border: none;
        padding: 0!important;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #069;
        text-decoration: underline;
        cursor: pointer;
}

input[type="file"],
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Flex container for form and map */
.form-map-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.form-group input {
    flex: 2;
    padding: 5px;
    font-size: 14px;
}

.form-group-light {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.form-group-light label {
  flex: 2;
  text-align: left;
  margin-right: 10px;
  font-weight: light;
  font-size: small;
}

.form-group-light input {
  flex: 0 0 100px;
  padding: 5px;
  font-size: 14px;
}

.form-wrapper {
  flex: 0 0 450px; /* fixierte Breite, stabil bei Zoom */
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-sizing: border-box;
    background: #ffffff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    align-self: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Map styling */
#map {
    flex: 2; /* Allow the map to take up equal space as the form */
    max-width: 700px; /* Limit the width of the map */
    aspect-ratio: 1 / 1; /* Make the map square */
    /* border: 2px solid #ccc; /* Add a simple border */
    border: 2px solid black; /* Add a simple border */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

/* Buttons container */
.buttons-container {
    display: flex;
    justify-content: center;
    min-height: "80%";
    /*background-color: #a0a0a0;*/
    gap: 20px; /* Space between the buttons */
}

/* Button styling */
.buttons-container button,
.buttons-container .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
    text-align: center;
}

.buttons-container button:hover,
.buttons-container .button:hover {
    background-color: #45a049;
}

input[type="password"],
input[type="text"] {
  font-family: monospace; /* verhindert Layoutsprünge durch Schriftart */
  width: 80%;
  box-sizing: border-box;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey; /*#f2f2f2;*/
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.flashes {
  list-style: none;
  padding: 10px;
  background-color: #fee;
  color: #900;
  border: 1px solid #f99;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #136965;}*/ 

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.drophelp {
  align-self: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-wrapper:hover .dropdown-content {
  display: block;
}
