html, body {
  height: 100%
}
body {
  display: flex;
  align-items: stretch;
  font-family: Arial, sans-serif;
  margin-left: 0%;
  margin-right: 0%;     
  background-color: #f4f4f4;
}

#root {
  width: 100%;
}

input[type="file"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 0.5rem;
    text-align: left;
  }

  .topbanner {
    font-family: Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;     
    padding-top: 20px;
    padding-bottom: 3px;
    border: none;
    background-color: #a0a0a0;
  }
  
  .topbanner table {
    border: none;
    margin: 0 auto;
  }
  .topbanner tr {
    background-color: #a0a0a0;
    border: 1px;
    border-color: green;
    margin: 0 px;
  }
  .topbanner th {
    color: #1cda4f;
    border: 2px;
    border-color: green;
    margin: 0 px;
  }

  .topbanner button {
    align-self: center;
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #f0f0f5;
    border: 2px #1cda4f;
    border-radius: 2px;
    border-width: thin;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
  }

  .topbanner button:hover {
    align-self: center;
    padding: 10px 20px;
    background-color: #dad6d6;
    color: rgb(92, 92, 93);
    border: none;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
  }

  .inner-body {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
  }
  .topbanner form {
    background: #a0a0a0;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}

.container {
    width: 80%;
}